* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(218, 218, 218);
  background: rgb(136, 134, 175);
  background: radial-gradient(
    circle,
    rgba(136, 134, 175, 1) 0%,
    rgba(244, 244, 244, 1) 0%,
    rgba(228, 229, 255, 1) 100%,
    rgba(222, 245, 71, 1) 100%,
    rgba(252, 255, 0, 1) 100%
  );
  margin: 0 auto;
  top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
